
    <h1>Game of Thrones</h1>
    <%= link_to 'Add New House', new_house_path%>
    <table>
      <tr>
      <th>Name</th>
      <th>Image</th>
      <tr>
    <% @houses.each do |house| %>
    <tr>
    <td><%= link_to house.name , house_path(house) %></td>
    <td> <img src="<%=house.img_url%>"></td>
    <td><%= link_to 'Edit', edit_house_path(house) %></td>
  <%end%>
